---
layout: base.njk
---

<p>
  <time datetime="{{ page.date }}">{{ page.date | htmlDateString }}</time>
</p>
{# <h3>Tags</h3>
  <p>
    {%- for tag in tags %}
      {{ tag }}
      {%- if not loop.last %},
      {% endif %}
    {%- endfor %}
  </p> #}
<div class="blogpost">
  {{ content | safe }}
</div>
