<ul class="list-without-bullets">
  {%- for post in posts -%}
    <li>
      <i>{{ post.data.date | htmlDateString }}</i>
      <a href={{ post.url }}>
        <span class="post-title">{{ post.data.title }}</span>
      </a>
    </li>
  {%- endfor -%}
</ul>
