<footer>
    <div>
        Built with
        <a href="https://www.11ty.dev" target="_blank">11ty</a>.
        Copyright 2023
        <a href="https://dixita.dev">Dixita</a>.
        Source code
        is available
        <a href="https://codeberg.org/dixita/pages">here</a>.
    </div>
</footer>
