.contact {
    font-size: 17px;
    ul {

        list-style-type: disclosure-closed;

        li {
            margin: 8px 0;
        }
    }

    .note {
        padding: 4px 16px;
        border-left: 3px solid $primary-color;
    }
}
