---
title: Blog
layout: base.njk
---
<div class="section">
    <p>
        I used to post blogs on
        <a href="https://medium.com/@dixita0607" target="_blank">Medium</a>. I am planning to resume posting on my website very soon.
    </p>
</div>
