---
title: Contact
layout: base.njk
---

<div class="contact">
    <div class="section">
        <p>
            This is a standing invitation: if we have common interests, I want to talk to you.
        </p>
        <p>
            My email address is
            <a href="mailto:contact@dixita.dev" target="_blank">contact@dixita.dev</a>. I am also available
                                                                on
            <a href="https://matrix.to/#/@dixita:matrix.org" target="_blank">Matrix</a>
            and
            <a href="https://mastodon.social/@dixita" target="_blank">Mastodon</a>.
        </p>
    </div>
    <div class="section">
        <ul>
            <li>
                I am open for contract work. If you want me to develop web apps or create designs for you, feel free to send me an
                email.
            </li>
            <li>
                I love drawing and doodling. I also do it professionally. You can commission me to draw an artwork or we can just chill
                and create something together.
            </li>
            <li>
                I like to read books.
                <a href="/books">This is the list of books</a>
                that I have read so far.
                If you have any suggestions that are worth reading, send it over.
            </li>
            <li>
                I love making friends. If you live in Bangalore or you’re just visiting for a while, let’s meet up for coffee in the
                city, my treat. Or let's just have a chat sometime.
            </li>
        </ul>
    </div>
    <div class="section note">
        <p>
            <i>
                Note: This page was inspired by (and mostly copied from)
                <a href="https://varunbarad.com/contact" target="_blank">Varun Barad</a>.
            </i>
        </p>
    </div>
</div>
