---
title: Contact
layout: base.njk
---
<div class="contact">
    <div class="section">
        <p>
            This is a standing invitation: if we have common interests, I want to talk to you.
        </p>
        <p>
            My email address is <a href="mailto:contact@dixita.dev" target="_blank">contact@dixita.dev</a>.
        </p>
    </div>
    <div class="section">
        <ul>
            <li>
                I am open for contract work. 
                If you want me to develop webapps or create designs for you, feel free to send an email.
            </li>
            <li>
                I love drawing and doodling. I also do it professionally.
                You can commission me to draw an artwork or we can just chill and create something together.  
            </li>
            <li>
                I love discussing stuff. Email works best for me. I’m also active on 
                <a href="https://matrix.to/#/@dixita:matrix.org" target="_blank">Matrix</a>.
                I promise I’ll read 100% of your emails & messages and reply to all of them.
            </li>
            <li>
                I love making friends. If you live in Bangalore or you’re just visiting for a while, 
                let’s meet up for coffee in the city, my treat. Or let's just have a chat sometime.
            </li>
        </ul>
    </div>
    <div class="section note">
        <p>
            <i>
                Note: This page was inspired by (and mostly copied from) <a href="https://varunbarad.com/contact" target="_blank">Varun Barad</a>.
            </i>
        </p>
    </div>
</div>
