---
title: Dixita Ganatra
layout: base.njk
---
<div class="container">
    <div class="section">
        <h1>
            Hi! I am Dixita.
        </h1>
    </div> 
    <div class="section">
        <p>
            I am a full-stack web developer from Bangalore, India. I enjoy building consumer and developer-facing products.
            I primarily use MERN stack. I am also familiar with other frameworks & libraries.
            In my free time, I draw or learn about UI designs. I like cats and plants.
        </p>      
    </div>
    <div class="section">
        <div class="profiles">
            <a href="https://github.com/dixita0607" target="_blank" class="profile_item">
                <button type="button">Projects</button>
            </a>
            <a href="https://mastodon.social/@dixita" target="_blank" class="profile_item">
                <button type="button">Mastodon</button>
            </a>
            <a href="https://mastodon.art/@dixita" target="_blank" class="profile_item">
                <button type="button">My Art</button>
            </a>
            <a href="https://dribbble.com/dixita0607" target="_blank" class="profile_item">
                <button type="button">My Designs</button>   
            </a>
            <a href="https://www.buymeacoffee.com/dixita" target="_blank" class="profile_item">
                <button type="button">Buy me a Coffee</button>
            </a>
        </div>
    </div>
</div>
