---
layout: base.njk
---

<div class="home">
    <div class="section">
        <img class="profile-picture" src="assets/images/profile.png" alt="profile" width="180"/>
    </div>
    <div class="section">
        <h1>
            Hi! I am Dixita.
        </h1>
    </div>
    <div class="section">
        <p>
            I am a web developer who's passionate about UI design and art. I live in Bangalore, India. I develop web apps &
            websites. I also design UI for mobile and web apps. Feel free to
            <a href="/contact">contact</a>
            me for consultancy work.
        </p>
        <p>So far, I have worked with the fine people at
            <a href="https://www.getgenea.com">Genea</a>, Technegic Software,
            <a href="https://www.simform.com">Simform</a>, and
            <a href="https://www.meditab.com">Meditab</a>.
        </p>
        <p>
            I am happily married to my college sweetheart
            <a href="https://dhruvin.dev" target="_blank">Dhruvin</a>. I like plants, cats, and meeting new people. In my free time,
                I like to draw, read, or watch seasons or movies.
        </p>
    </div>
    <div class="section">
        <div class="social-links">
            <a href="https://github.com/dixita0607" target="_blank" class="social-links_item">
                <button type="button">GitHub</button>
            </a>
            <a href="https://codepen.io/dixita0607" target="_blank" class="social-links_item">
                <button type="button">Codepen</button>
            </a>
            <a href="https://mastodon.art/@dixita" target="_blank" class="social-links_item">
                <button type="button">Art</button>
            </a>
            <a href="https://dribbble.com/dixita0607" target="_blank" class="social-links_item">
                <button type="button">Designs</button>
            </a>
            <a href="https://www.buymeacoffee.com/dixita" target="_blank" class="social-links_item">
                <button type="button">Buy me a Coffee</button>
            </a>
        </div>
    </div>
</div>