---
title: Dixita Ganatra
layout: base.njk
---
<div class="container">
    <h1>
        Hi! I am Dixita.
    </h1>
    <h3>About</h3>
    <p>
        I am a full-stack web developer from Bangalore, India. I am interested in developing things around web. I primarily use
        MERN stack. And I am also familiar with other frameworks & libraries. In my free time, I draw or learn about UI designs.
        I like cats and plants.
    </p>
    <a href="https://github.com/dixita0607" target="_blank">Projects</a>
    <a href="https://mastodon.social/@dixita" target="_blank">Mastodon</a>
    <a href="https://mastodon.art/@dixita" target="_blank">My Art</a>
    <a href="https://dribbble.com/dixita0607" target="_blank">My Designs</a>
    <a href="https://www.buymeacoffee.com/dixita" target="_blank">Buy me a Coffee</a>
    <h3>Blogs</h3>
    <p>
        I used to post blogs on
        <a href="https://medium.com/@dixita0607" target="_blank">Medium</a>. I am planning to resume posting on my website very soon.
    </p>
    <h3>Contact</h3>
    <p>
        Feel free to talk about plants, cats or anything else! My email is
        <a href="mailto:contact@dixita.dev" target="_blank">contact@dixita.dev</a>.
    </p>
</div>
