---
layout: base.njk
title: Projects
---

{% macro projectList(projects) %}
  <ul class="projects">
    {% for project in projects %}
      <li class="project">
        <a href={{ project.code }}>
          <b>{{ project.title }}</b>
        </a>
        {% if project.description %}
          <p class="project-description">{{ project.description }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
<div>
  <ul class="list-without-bullets">
    {% for projectsCollection in projects | dictsort %}
      <li>
        {% for proj in projectsCollection[1] %}
          <h2>{{ proj.title }}</h2>
          <p>{{ proj.description }}</p>
          {{ projectList(proj.projects) }}
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
</div>
